# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.env
.venv/
env/
venv/
media/

# Node
node_modules/
dist/
build/

# Git
.git/
.gitignore

# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Docker
docker-compose.override.yml
