# Python/Django
__pycache__/
*.py[cod]
*.sqlite3
*.log
db.sqlite3
.env
venv/
.venv/
*.pid

# MySQL Credentials
*.sql
*.db
*.bak
database/mysql_data
# VSCode & System Files
.vscode/
.DS_Store
Thumbs.db

# Node.js (Frontend)
node_modules/
dist/
build/
npm-debug.log
yarn-error.log
package-lock.json
pnpm-lock.yaml

# Static & Media Files
staticfiles/
# media/
static/
covers/
managa_covers/
managa_images/
novel_covers/
*.png
*.jpg
!default.jpg
*.mp3

*.jpeg
*.gif
*.svg
*.json
# Coverage & Testing
.coverage
htmlcov/
pytest_cache/

# Linux
*.Identifier