@tailwind base;
@tailwind components;
@tailwind utilities;

/* Cấu hình mặc định */
:root {
  @apply text-white bg-neutral-900 font-sans;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Link */
a {
  @apply font-medium text-blue-500 no-underline transition-colors duration-200;
}
a:hover {
  @apply text-blue-400;
}

/* Body */
body {
  @apply flex items-center justify-center min-w-[320px] min-h-screen m-0;
}

/* Tiêu đề */
h1 {
  @apply text-4xl font-bold leading-tight;
}

/* Button */
button {
  @apply rounded-lg border border-transparent px-4 py-2 text-base font-medium bg-neutral-800 
         transition-colors duration-200 hover:border-blue-500 focus:outline-none 
         focus:ring-4 focus:ring-blue-300;
}

@media (prefers-color-scheme: light) {
  :root {
    @apply text-gray-900 bg-white;
  }
  a:hover {
    @apply text-indigo-500;
  }
  button {
    @apply bg-gray-100;
  }
}
